#special-section{
    gap:40px;
}

#special-section header{
    display:flex;
    justify-content: space-between;
    padding:0;
}
.specials{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    gap:40px;
}

@media only screen and (max-width: 900px) {
    .specials{
        grid-template-columns: auto;
    }
    #special-section header{
        flex-direction: column;
    }
  }