#special-section{
    display:flex;
    flex-direction: column;
    gap:40px;
    padding-top: 56px;
}

#special-section header{
    display:flex;
    justify-content: space-between;
    padding:0;
}
.specials{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    gap:40px;
}