#testimonials-section .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-template-rows:max-content;
    row-gap: 40px;
    column-gap: 40px;
}

#testimonials-section{
    display:grid;
    gap:40px;
    background-color: #efefef;
}

#testimonials-section img{
    border-radius: 100%;
    width:30%;
}

@media only screen and (max-width: 600px) {
    #testimonials-section .container{
        grid-template-columns: auto;
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 900px) {

    #testimonials-section .container {
        grid-template-columns: repeat(2, 1fr);
    }
}