@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@400;500&display=swap');
:root{
  --primary-green:#495E57;
  --primary-yellow:#f4ce14;
  --secondary-orange:#ee9972;
  --secondary-peach:#fbdabb;
  --light:#edefee;
  --dark:#333333;
}
*{
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  margin:0;
  padding:0;
  color:var(--dark);
  transition:all 0.5s ease-out;
}




li,a{
  list-style: none;
  text-decoration: none;
  color:#333333;
}
nav a{
  padding:8px 12px;
}
nav a:hover{
  background-color: var(--primary-yellow);
  border-radius: 4px;
}

header,section,footer{
  padding-left:20%;
  padding-right:20%;
}
section,footer{
  padding-top:6em;
  padding-bottom: 6em;
}
h1,h2,h3,h4,h5,h6, h1 span{
  font-family: 'Markazi Text', serif;
}
h1{
  font-size:54px;
}
h2{
  font-size:40px;
}
h3{font-size:24px;
}

img{
  border-radius: 4px;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex{
  display:flex;
}

@media only screen and (max-width: 1200px) {
  header,section,footer{
    padding-left:10%;
    padding-right:10%;
  }
}